script(src="index.js")

<div class="container">
  <section class="background">
    <div class="content-wrapper">
      <p class="content-title">Manul Gahlot</p>
      <p class="content-subtitle">Scroll down and up to see the effect!</p>
    </div>
  </section>
  <section class="background">
    <div class="content-wrapper">
      <p class="content-title">The second slide.</p>
      <p class="content-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac libero in massa vestibulum tempor sit amet a sem. Integer vel orci varius, porttitor ipsum ac, sagittis mi. Sed at pretium quam, eu gravida diam. Donec sollicitudin aliquet lobortis. Aliquam varius pulvinar tellus quis porta. Ut euismod, ligula id faucibus..</p>
    </div>
  </section>
  <section class="background">
    <div class="content-wrapper">
      <p class="content-title">the third slide.</p>
      <p class="content-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac libero in massa vestibulum tempor sit amet a sem. Integer vel orci varius, porttitor ipsum ac, sagittis mi. Sed at pretium quam, eu gravida diam. Donec sollicitudin aliquet lobortis. Aliquam varius pulvinar tellus quis porta. Ut euismod, ligula id faucibus..</p>
    </div>
  </section>
</div>
